[workspace]
members = [
    ".",
    "commit_verify",
    "commit_verify/derive",
    "single_use_seals",
]
default-members = [
    ".",
    "commit_verify",
    "commit_verify/derive",
    "single_use_seals",
]

[workspace.package]
authors = ["Dr Maxim Orlovsky <orlovsky@lnp-bp.org>"]
homepage = "https://github.com/LNP-BP"
repository = "https://github.com/LNP-BP/client_side_validation"
rust-version = "1.66" # Due to strict encoding library (caused by GAD)
edition = "2021"
license = "Apache-2.0"

[package]
name = "client_side_validation"
version = "0.10.1"
description = "Client-side validation foundation library"
keywords = ["lnp-bp", "smart-contracts", "blockchain"]
categories = ["cryptography"]
authors = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
rust-version = { workspace = true }
readme = "README.md"
exclude = [".github", "commit_verify", "single_use_seals"]

[lib]
name = "client_side_validation"
path = "src/lib.rs"

[dependencies]
commit_verify = { version = "0.10.1", path = "./commit_verify", default-features = false }
single_use_seals = { version = "0.10.0", path = "./single_use_seals" }
serde_crate = { package = "serde", version = "1", features = ["derive"], optional = true }

[features]
default = ["derive"]
all = ["serde", "rand", "async", "stl"]
stl = ["commit_verify/stl"]
async = ["single_use_seals/async"]
rand = ["commit_verify/rand"]
derive = ["commit_verify/derive"]
serde = ["serde_crate", "commit_verify/serde"]

[package.metadata.docs.rs]
features = [ "all" ]

[patch.crates-io]
strict_encoding = { git = "https://github.com/strict-types/strict-encoding", branch = "stl" }
strict_types = { git = "https://github.com/strict-types/strict-types", branch = "fix/typesys-builder" }
